body {
    font-family: 'Roboto', sans-serif;
    color: #434A54;
    background-color: #F5F7FA;
}

/* Navbar Styles */
.navbar {
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: #434A54;
    display: flex;
    align-items: center;
}
.brand-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    color: #D9534F;
    letter-spacing: -0.5px;
    margin-left: 5px;
}
